html
{
    height:99%;
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
    background: #e0e9ee url(/img/design/cloud_background.jpg) 60% 0 fixed no-repeat;
    height:100%;
    overflow-y: scroll;
}

.main_wrapper
{
    margin: auto;
    width: 1200px;
}

#main_header
{
    width: 1200px;
    height: 300px;
    position: relative;
}

#main_content
{
    min-height: 100%;
    width: 100%;
    /*background: url(/img/design/bg_image.jpg) no-repeat fixed center 0;*/
}

img
{
    margin: 0;
    border: 0;
}

.button
{
}

#logo
{
    display: block;
    background: url(/img/design/logo.png) no-repeat;
    width: 194px;
    height: 165px;
    margin: -120px 0 0 40px;
    position: relative;
    z-index: 10;
    pointer-events:none;
}

.photostack
{
    border: 6px solid #fff;
    height: 300px;
    width: 1200px;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: -6px;
    margin-top: 5px;
    z-index: 1;
    background: #eee;
}

.contentTable
{
    width: 1200px;
    margin-top: -50px;
    margin-left: -5px;
}

.contentTable tr, .contentTable td
{
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.contentTable .tr, .contentTable .tl, .contentTable .br, .contentTable .bl
{
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
    max-height: 14px;
    max-width: 14px;
}

.contentTable > tbody > tr > .tr
{
    background: url(/img/design/contentbg_tr.png) no-repeat;
}

.contentTable > tbody > tr > .tl
{
    background: url(/img/design/contentbg_tl.png) no-repeat;
}

.contentTable > tbody > tr > .br
{
    background: url(/img/design/contentbg_br.png) no-repeat;
}

.contentTable > tbody > tr > .bl
{
    background: url(/img/design/contentbg_bl.png) no-repeat;
}

.contentTable > tbody > tr > .tm
{
    background: url(/img/design/contentbg_tm.png) repeat-x;
}

.contentTable > tbody > tr > .bm
{
    background: url(/img/design/contentbg_bm.png) repeat-x;
}

.contentTable > tbody > tr > .ml
{
    background: url(/img/design/contentbg_ml.png) repeat-y;
}

.contentTable > tbody > tr > .mr
{
    background: url(/img/design/contentbg_mr.png) repeat-y;
}

.contentTable > tbody > tr > .mm
{
    padding: 25px 10px 10px 10px;
    background: #fbf9f8;
}

.main_menu
{
    height: 30px;
    background: url(/img/design/menustripe.png) repeat-x;
    margin: 0 -21px 0 -12px;
    position: relative;
    padding-left: 0px;
    margin-bottom: 10px;
}

.main_menu > a,.main_menu > span > a
{
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-right: 1px dotted #555;
}

.main_menu > a:hover,.main_menu > span > a:hover
{
    color: #fff;
}

.content
{
    /*display: table-row;*/
    min-height: 200px;
}

.left_content
{
    width: 215px;
    max-width: 215px;
    padding: 10px 0;
    margin-right: -7px;
    /*min-height: 200px;*/
    /*display: table-cell;*/
    /*border-right: 1px dashed #000020;*/
    vertical-align: top;
    overflow: hidden;
}

.center_content
{
    position: relative;
    width: 896px;
    min-height: 400px;
    /*display: table-cell;*/
    padding-left: 10px;
    vertical-align: top;
}

.ts_channels ul
{
    list-style: none;
    margin: 0;
    padding: 0 0 0 16px;
}

.ts_channels li
{
    white-space: nowrap;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.ts_channels li img
{
    vertical-align: middle;
}

.ts_channels li span
{
    vertical-align: middle;
    line-height: 16px;
}

.ts_channels li a
{
    line-height: 16px;
    color: #06c;
    text-decoration: none;
    vertical-align: middle;
}

.ts_channels li a:hover
{
    color:#999;
}

/* Fix for Bootstrap 3 with Angular UI Bootstrap */

.modal {
    display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }

.micro_award
{
    max-width: 32px;
    max-height: 32px;
}

.select2-locked
{
    background: #c9f3ff !important;
}

.uniform
{
    width: 380px;
    height: 600px;
    background: url(/img/uniform/uniform.png);
    position: relative;
}

.uniform.clanner
{
    background: url(/img/uniform/clanner/uniform.png);
}

.uniform .unform_rank
{
    width: 360px;
    height: 600px;
    left: 15px;
    position: relative;
    top: 44px;
}

.clanner .unform_rank
{
    top:51px;
}

.uniform img
{
    position: absolute;
    top:0;
    left:0;
}

.isRelative
{
    position: relative;
}

.floating_rank
{
    position: absolute;
    left:7px;
    top:7px;
    border-radius: 100%;
    -webkit-border-radius:100%;
    background: #eee;
}

.floating_rank img
{
    width: 30px;
    height:30px;
    border:2px solid #eee;
    border-radius: 100%;
    -webkit-border-radius:100%;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
}

.big-spinner {
    display: block;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
}

.big-spinner .spinner-icon {
    width: 100px;
    height: 100px;
    margin: -50px -50px;
    border:  solid 10px transparent;
    border-top-color:  #29d;
    border-left-color: #29d;
    border-radius: 50%;
    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation:    loading-bar-spinner 400ms linear infinite;
    -ms-animation:     loading-bar-spinner 400ms linear infinite;
    -o-animation:      loading-bar-spinner 400ms linear infinite;
    animation:         loading-bar-spinner 400ms linear infinite;
}

.big-spinner .text
{
    font-size: 20px;
    color: #2EE;
    font-weight: bold;
    left: -23px;
    position: absolute;
    top: -12px;
    width: 55px;
    text-align: center;
}

.news-row.ng-enter-stagger {
    /* 200ms will be applied between each sucessive enter operation */
    -webkit-transition-delay:0.01s;
    transition-delay:0.01s;

    /* this is here to avoid accidental CSS inheritance */
    -webkit-transition-duration:0;
    transition-duration:0;
}

.news-row.ng-leave, .news-row.ng-enter,.news-row.ng-move {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    /*-webkit-transition:all linear 0.2s;
    transition:all linear 0.2s;*/
}

.news-row.ng-leave.ng-leave-active,
.news-row.ng-move,
.news-row.ng-enter {
    max-height:0;
}

.news-row
{
    overflow: hidden;
}

.news-row.ng-leave,
.news-row.ng-move.ng-move-active,
.news-row.ng-enter.ng-enter-active {
    max-height:200px;
}



.user-cell.ng-enter-stagger {
    /* 200ms will be applied between each sucessive enter operation */
    -webkit-transition-delay:0.05s;
    transition-delay:0.05s;

    /* this is here to avoid accidental CSS inheritance */
    -webkit-transition-duration:0;
    transition-duration:0;
}

.user-cell.ng-leave, .user-cell.ng-enter,.user-cell.ng-move {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
    /*-webkit-transition:all linear 0.2s;
    transition:all linear 0.2s;*/
}

.user-cell.ng-leave.ng-leave-active,
.user-cell.ng-move,
.user-cell.ng-enter {
    padding: 0;
    max-width: 0;
}

.user-cell
{
    width: 221px;
    overflow: hidden;
}

.user-cell.ng-leave,
.user-cell.ng-move.ng-move-active,
.user-cell.ng-enter.ng-enter-active
{
    padding: initial;
    max-width: 222px;
}

img.identifier_9,img.identifier_28,img.identifier_27
{
    top:218px;
    left:112px;
}
img.identifier_30
{
    top:219px;
    left:117px;
}
img.identifier_31
{
    top:217px;
    left:112px;
}


.cdate
{
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}
