html
{
    height:99%;
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
    background: #e0e9ee url(/img/design/cloud_background.jpg) 60% 0 fixed no-repeat;
    height:100%;
}

.main_wrapper
{
    margin: auto;
    width: 1200px;
}

#main_header
{
    width: 1200px;
    height: 300px;
    position: relative;
}

#main_content
{
    min-height: 100%;
    width: 100%;
    /*background: url(/img/design/bg_image.jpg) no-repeat fixed center 0;*/
}

img
{
    margin: 0;
    border: 0;
}

.button
{
}

#logo
{
    display: block;
    background: url(/img/design/logo.png) no-repeat;
    width: 194px;
    height: 165px;
    margin: -120px 0 0 40px;
    position: relative;
    z-index: 10;
    pointer-events:none;
}

.photostack
{
    border: 6px solid #fff;
    height: 300px;
    width: 1200px;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: -6px;
    margin-top: 5px;
    z-index: 1;
    background: #eee;
}

.contentTable
{
    width: 1200px;
    margin-top: -50px;
    margin-left: -5px;
}

.contentTable tr, .contentTable td
{
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.contentTable .tr, .contentTable .tl, .contentTable .br, .contentTable .bl
{
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
    max-height: 14px;
    max-width: 14px;
}

.contentTable > tbody > tr > .tr
{
    background: url(/img/design/contentbg_tr.png) no-repeat;
}

.contentTable > tbody > tr > .tl
{
    background: url(/img/design/contentbg_tl.png) no-repeat;
}

.contentTable > tbody > tr > .br
{
    background: url(/img/design/contentbg_br.png) no-repeat;
}

.contentTable > tbody > tr > .bl
{
    background: url(/img/design/contentbg_bl.png) no-repeat;
}

.contentTable > tbody > tr > .tm
{
    background: url(/img/design/contentbg_tm.png) repeat-x;
}

.contentTable > tbody > tr > .bm
{
    background: url(/img/design/contentbg_bm.png) repeat-x;
}

.contentTable > tbody > tr > .ml
{
    background: url(/img/design/contentbg_ml.png) repeat-y;
}

.contentTable > tbody > tr > .mr
{
    background: url(/img/design/contentbg_mr.png) repeat-y;
}

.contentTable > tbody > tr > .mm
{
    padding: 25px 10px 10px 10px;
    background: #fbf9f8;
}

.main_menu
{
    height: 30px;
    background: url(/img/design/menustripe.png) repeat-x;
    margin: 0 -21px 0 -12px;
    position: relative;
    padding-left: 0px;
    margin-bottom: 10px;
}

.main_menu a
{
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-right: 1px dotted #555;
}

.main_menu a:hover
{
    color: #fff;
}

.content
{
    display: table-row;
    min-height: 200px;
}

.left_content
{
    width: 210px;
    max-width: 210px;
    padding: 10px 0;
    min-height: 200px;
    display: table-cell;
    /*border-right: 1px dashed #000020;*/
    vertical-align: top;
    overflow: hidden;
}

.center_content
{
    width: 902px;
    min-height: 200px;
    display: table-cell;
    padding-left: 10px;
    vertical-align: top;
}

.left_content ul
{
    list-style: none;
    margin: 0;
    padding: 0 0 0 16px;
}

.left_content li
{
    white-space: nowrap;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.left_content li img
{
    vertical-align: middle;
}

.left_content li span
{
    vertical-align: middle;
    line-height: 16px;
}

.left_content li a
{
    line-height: 16px;
    color: #06c;
    text-decoration: none;
    vertical-align: middle;
}

.left_content li a:hover
{
    color:#999;
}

/* Fix for Bootstrap 3 with Angular UI Bootstrap */

.modal {
    display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }

.micro_award
{
    max-width: 32px;
    max-height: 32px;
}

.select2-locked
{
    background: #c9f3ff !important;
}