html
{
    height:99%;
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
    background: #e0e9ee url(/img/design/cloud_background.jpg) 60% 0 fixed no-repeat;
    height:100%;
    overflow-y: scroll;
}

.body-hidden {
    visibility: hidden;
}

.body-visible {
    visibility: visible;
}

.main_wrapper
{
    margin: auto;
    width: 1200px;
    position: relative;
}

#main_header
{
    width: 1200px;
    height: 300px;
    position: relative;
}


#main_content
{
    min-height: 100%;
    width: 100%;
    /*background: url(/img/design/bg_image.jpg) no-repeat fixed center 0;*/
}

img
{
    margin: 0;
    border: 0;
}

.button
{
}

#logo
{
    display: block;
    background: url(/img/design/logo.png) no-repeat;
    width: 194px;
    height: 165px;
    margin: -120px 0 0 40px;
    position: relative;
    z-index: 10;
    pointer-events:none;
}

.photostack
{
    border: 6px solid #fff;
    height: 300px;
    width: 1200px;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: -6px;
    margin-top: 5px;
    z-index: 1;
    background: #eee;
    overflow: hidden;
}

.photostack img
{
    width: 1188px;
    height: 288px;
    display: block;
}

.left_panel.mm {
    background: -moz-linear-gradient(top, #9a9f99 0%, #283d28 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9a9f99), color-stop(100%,#283d28)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9a9f99 0%,#283d28 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9a9f99 0%,#283d28 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9a9f99 0%,#283d28 100%); /* IE10+ */
    background: linear-gradient(to bottom, #9a9f99 0%,#283d28 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a9f99', endColorstr='#283d28',GradientType=0 ); /* IE6-9 */

    width: 298px;
    min-width: 298px;
    height: 100%;
    box-shadow: 0px 0px 4px 1px rgba(50, 50, 50, 0.75);
    position: relative;
}

.left_panel_2 {
    background: url(/img/design/tile_bg/left_panel_rust.png) repeat-y !important;
    height: 100%;
}

.left_panel_3 {
    background: url(/img/design/tile_bg/left_panel_rust.png) repeat-y !important;
    padding: 25px 22px 10px 22px;
    box-shadow: inset 1px 2px 3px 0px #fff, inset -1px -2px 3px 0px #000;
    height: 100%;
}

.pilot_search
{
    width:715px !important;
}
























.contentTable
{
    width: 1195px;
    margin-top: -44px;
    margin-left: -3px;
    height: 100%;
}

.contentTable tr, .contentTable td
{
    padding: 0;
    margin: 0;
    vertical-align: top;
    height: 100%;
}

.contentTable .tr, .contentTable .tl, .contentTable .br, .contentTable .bl
{
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
    max-height: 14px;
    max-width: 14px;
}

.contentTable > tbody > tr > .tr
{
    background: url(/img/design/contentbg_tr.png) no-repeat;
}

.contentTable > tbody > tr > .tl
{
    background: url(/img/design/contentbg_tl.png) no-repeat;
}

.contentTable > tbody > tr > .br
{
    background: url(/img/design/contentbg_br.png) no-repeat;
}

.contentTable > tbody > tr > .bl
{
    background: url(/img/design/contentbg_bl.png) no-repeat;
}

.contentTable > tbody > tr > .tm
{
    background: url(/img/design/contentbg_tm.png) repeat-x;
}

.contentTable > tbody > tr > .bm
{
    background: url(/img/design/contentbg_bm.png) repeat-x;
}

.contentTable > tbody > tr > .ml
{
    background: url(/img/design/contentbg_ml.png) repeat-y;
}

.contentTable > tbody > tr > .mr
{
    background: url(/img/design/contentbg_mr.png) repeat-y;
}

.contentTable .mm.center_panel
{
    padding: 0;
    background: #fbf9f8;
    box-shadow: 0px 6px 4px 1px rgba(50, 50, 50, 0.75);
    border: 0;
}

.center_panel .content
{
    padding: 10px;
    padding-top: 60px;
}


.panel_menu
{
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.panel_menu a
{
    color:#fff;
}

.main_menu_cover {
    background: -moz-linear-gradient(left,  #a5aaa5 0%, #495a48 95%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a5aaa5), color-stop(95%,#495a48)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #a5aaa5 0%,#495a48 95%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #a5aaa5 0%,#495a48 95%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #a5aaa5 0%,#495a48 95%); /* IE10+ */
    background: linear-gradient(to bottom, #a5aaa5 0%,#495a48 100%); /* W3C */
    margin: 0 0 10px 12px;
    border-radius:5px;
    position: absolute;
    z-index: 100;
    top: 310px;
    width: 890px;
}

.main_menu_cover.detached {
    position: fixed;
    top:3px;
}

.main_menu
{
    height: 60px;
    background: url(/img/design/menu_rust.png) no-repeat;
    position: relative;
    padding-left: 0px;
    box-shadow: 0px 0px 4px 1px rgba(50, 50, 50, 0.75), inset 1px 2px 3px 0px #fff, inset -1px -2px 3px 0px #000;
    border-radius:5px;
    font-family: Tahoma, Geneva, sans-serif;
}

.main_menu > a,.main_menu > span > a
{
    padding: 7px 10px;
    height:60px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

.main_menu > a > i,.main_menu > span > a > i
{
    width: 100%;
    height: 42px;
    background: url(/img/design/switch_down.png) no-repeat 50% 0;
    display: block;
    position: relative;
    z-index: 1001;
    pointer-events: none;
}

.main_menu > a:active > i, .main_menu > span > a:active > i, .main_menu > a.active > i, .main_menu > span > a.active > i
{
    background: url(/img/design/switch_up.png) no-repeat 50% 0;
    top: -18px;
}

.main_menu > a:hover,.main_menu > span > a:hover
{
    color: #000;
}

.content
{
    /*display: table-row;*/
    min-height: 200px;
}

.left_content
{
    width: 254px;
    max-width: 254px;
    padding: 0px 0px;
    margin-right: -7px;
    vertical-align: top;
    overflow: hidden;
    -webkit-box-shadow: rgba(255, 255, 255, 0.341176) 2px 2px 2px 0px;
    box-shadow: rgba(255, 255, 255, 0.341176) 2px 2px 2px 0px;
    border-width: 4px 2px 2px 3px;
    border-style: solid;
    border-color: rgb(51, 51, 51) rgb(102, 102, 102) rgb(85, 85, 85) rgb(51, 51, 51);
    border-radius: 10px;
    background: #fff;
    margin-bottom: 25px;
}

.center_content
{
    position: relative;
    width: 870px;
    min-height: 400px;
    /*display: table-cell;*/
    padding-left: 10px;
    vertical-align: top;
}

.ts_channels ul
{
    list-style: none;
    margin: 0;
    padding: 0 0 0 16px;
}

.ts_channels li
{
    white-space: nowrap;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.ts_channels li img
{
    vertical-align: middle;
}

.ts_channels li span
{
    vertical-align: middle;
    line-height: 16px;
}

.ts_channels li a
{
    line-height: 16px;
    color: #06c;
    text-decoration: none;
    vertical-align: middle;
}

.ts_channels li a:hover
{
    color:#999;
}

/* Fix for Bootstrap 3 with Angular UI Bootstrap */

.modal {
    display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }

.micro_award
{
    max-width: 32px;
    max-height: 32px;
}

.select2-locked
{
    background: #c9f3ff !important;
}

.uniform
{
    width: 380px;
    height: 600px;
    background: url(/img/uniform/uniform.png);
    position: relative;
}

.uniform.clanner
{
    background: url(/img/uniform/clanner/uniform.png);
}

.uniform .unform_rank
{
    width: 360px;
    height: 600px;
    left: 15px;
    position: relative;
    top: 44px;
}

.clanner .unform_rank
{
    top:51px;
}

.uniform img
{
    position: absolute;
    top:0;
    left:0;
    margin-top: 0px;
    -webkit-transition:-webkit-transform linear 0.1s,margin linear 0.1s;
    -moz-transition:transform linear 0.1s,margin linear 0.1s;
    -o-transition:transform linear 0.1s,margin linear 0.1s;
    transition:transform linear 0.1s,margin linear 0.1s;
}

.uniform img:hover
{
    -webkit-filter: drop-shadow(0px 3px 5px rgba(0,0,0,1));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=3, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=3, Color='#444')";
    margin-top: -3px;
    -webkit-transform:  scale(1.2);
    transform: scale(1.2);

    z-index: 1000;
}


.isRelative
{
    position: relative;
}

.floating_rank
{
    position: absolute;
    left:7px;
    top:7px;
    border-radius: 100%;
    -webkit-border-radius:100%;
    background: #eee;
}

.floating_rank img
{
    width: 30px;
    height:30px;
    border:2px solid #eee;
    border-radius: 100%;
    -webkit-border-radius:100%;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
}


.floating_rank.small img
{
    width:15px;
    height: 15px;
    border:1px solid #eee;
}

.big-spinner {
    display: block;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
}

.big-spinner .spinner-icon {
    width: 100px;
    height: 100px;
    margin: -50px -50px;
    border:  solid 10px transparent;
    border-top-color:  #29d;
    border-left-color: #29d;
    border-radius: 50%;
    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation:    loading-bar-spinner 400ms linear infinite;
    -ms-animation:     loading-bar-spinner 400ms linear infinite;
    -o-animation:      loading-bar-spinner 400ms linear infinite;
    animation:         loading-bar-spinner 400ms linear infinite;
}



.big-spinner .text
{
    font-size: 20px;
    color: #2EE;
    font-weight: bold;
    left: -23px;
    position: absolute;
    top: -12px;
    width: 55px;
    text-align: center;
}


.small-spinner {
    display: block;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
}

.small-spinner .spinner-icon {
    width: 50px;
    height: 50px;
    margin: -25px -25px;
    border:  solid 5px transparent;
    border-top-color:  #29d;
    border-left-color: #29d;
    border-radius: 50%;
    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation:    loading-bar-spinner 400ms linear infinite;
    -ms-animation:     loading-bar-spinner 400ms linear infinite;
    -o-animation:      loading-bar-spinner 400ms linear infinite;
    animation:         loading-bar-spinner 400ms linear infinite;
}

.news-row.ng-enter-stagger {
    /* 200ms will be applied between each sucessive enter operation */
    -webkit-transition-delay:0.01s;
    transition-delay:0.01s;

    /* this is here to avoid accidental CSS inheritance */
    -webkit-transition-duration:0;
    transition-duration:0;
}

.news-row.ng-leave, .news-row.ng-enter,.news-row.ng-move {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    /*-webkit-transition:all linear 0.2s;
    transition:all linear 0.2s;*/
}

.news-row.ng-leave.ng-leave-active,
.news-row.ng-move,
.news-row.ng-enter {
    max-height:0;
}

.news-row
{
    overflow: hidden;
}

.news-row.ng-leave,
.news-row.ng-move.ng-move-active,
.news-row.ng-enter.ng-enter-active {
    max-height:200px;
}

.user-cell
{
    width: 215px;
    overflow: hidden;
}

img.identifier_9,img.identifier_28,img.identifier_27
{
    top:218px;
    left:112px;
}
img.identifier_30,img.identifier_34,img.identifier_35
{
    top:219px;
    left:117px;
}
img.identifier_31
{
    top:217px;
    left:112px;
}


.cdate
{
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-hover:hover .dropdown-menu {
    display: block;
}

.header-image.ng-enter-stagger {
    /* 200ms will be applied between each sucessive enter operation */
    -webkit-transition-delay:0.05s;
    transition-delay:0.05s;

    /* this is here to avoid accidental CSS inheritance */
    -webkit-transition-duration:0;
    transition-duration:0;
}

.header-image.ng-leave, .header-image.ng-enter,.header-image.ng-move {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    /*-webkit-transition:all linear 0.2s;
    transition:all linear 0.2s;*/
}

.header-image.ng-leave.ng-leave-active,
.header-image.ng-move,
.header-image.ng-enter {
    max-height:0;
}



.header-image.ng-leave,
.header-image.ng-move.ng-move-active,
.header-image.ng-enter.ng-enter-active {
    max-height:288px;
}

.sceditor-container, .sceditor-container *
{
    box-sizing:content-box;
    -webkit-box-sizing: content-box;
}

ol li
{
    margin: 0;
}

.forumTopicHeader
{
    margin-bottom: -20px;
    margin-left: 10px;
}

.forumTopicHeader img
{
    position: relative;
    width:40px;height:40px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.forumTopicHeader a
{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-left: -8px;
    padding:5px 10px 5px 15px;
    vertical-align: middle;
}

.tinter
{
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    background: #31b0d5;
    width: 100px;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 95%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(95%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.with-underline
{
    border-bottom: 1px solid #bbb;
}

div.defector
{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-top: -20px;
    text-decoration: none;
    background: #dd0000;
    -webkit-animation: red_blink 2000ms linear infinite;
    -moz-animation:    red_blink 2000ms linear infinite;
    -ms-animation:     red_blink 2000ms linear infinite;
    -o-animation:      red_blink 2000ms linear infinite;
    animation:         red_blink 2000ms linear infinite;
}

div.vacation
{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-top: -20px;
    text-decoration: none;
    background: #ed9c28;
    -webkit-animation: red_blink 2000ms linear infinite;
    -moz-animation:    red_blink 2000ms linear infinite;
    -ms-animation:     red_blink 2000ms linear infinite;
    -o-animation:      red_blink 2000ms linear infinite;
    animation:         red_blink 2000ms linear infinite;
}


@-webkit-keyframes red_blink {
    0%
    { opacity: 0.0 }
    40%
    { opacity: 1.0 }
    60%
    { opacity: 1.0 }
    100%
    { opacity: 0.0 }
}
@-moz-keyframes red_blink {
    0%
    { opacity: 0.0 }
    40%
    { opacity: 1.0 }
    60%
    { opacity: 1.0 }
    100%
    { opacity: 0.0 }
}
@-o-keyframes red_blink {
    0%
    { opacity: 0.0 }
    40%
    { opacity: 1.0 }
    60%
    { opacity: 1.0 }
    100%
    { opacity: 0.0 }
}
@-ms-keyframes red_blink {
    0%
    { opacity: 0.0 }
    40%
    { opacity: 1.0 }
    60%
    { opacity: 1.0 }
    100%
    { opacity: 0.0 }
}
@keyframes red_blink {
    0%
    { opacity: 0.0 }
    40%
    { opacity: 1.0 }
    60%
    { opacity: 1.0 }
    100%
    { opacity: 0.0 }
}


.caption span
{
    overflow: hidden;
    white-space: nowrap;
}

.notification_bank
{
    position: fixed;
    top: 20px;
    right: -3px;
    z-index: 1000;
}

.shadowed
{
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75);
}

.alert-notification.ng-enter{
    transition:transform 0.6s;
    transform: translateX(450px);
}

.alert-notification
{
    width: 450px;
}

.alert-notification.ng-leave
{
    transition:transform 0.6s, max-height 2s, margin 2s, padding 2s;
    max-height: 200px;
}

.alert-notification.ng-leave.ng-leave-active {
    transform: translateX(450px);
    max-height: 0;
    margin: 0;
    padding: 0;
}

.alert-notification.ng-enter.ng-enter-active {
    transform: translateX(0px);
}

.alert-message
{
    padding: 0 5px 0 0;
    background: #fff;
    border-top-left-radius: 61px;
    border-bottom-left-radius: 60px;
    height: 121px;
}

.alert-message img
{
    margin-right: 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;

}

.alert-message a.user
{
    display: block;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}

.alert-message span.text
{
    padding: 10px 10px;
    display: block;
    margin: 0px;
    text-align: justify;
}

.alert-message .message-content
{
    vertical-align: middle;
    width: 297px;
    max-height: 105px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.hoverable
{

}

.hoverable:hover
{
    background: #dfdfff;
}

.thumbnail.expelled {
    height: 0 !important;
    overflow: hidden;
    margin: 0 !important;
    padding: 0;
    border: 0;
}

input.long {
    width:400px !important;
    float: none !important;
    display: block!important;
}

div.expelled_tag
{
    background: url("/img/design/expelled.png") center center no-repeat;
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 10;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
    pointer-events: none;
}

.whiteline {
    width: 1190px;
    height:8px;
    background: #fff;
}

.main_menu a.profile_btn {
    height: 33px;
    margin: 15px 15px 0 0;
    background: -moz-linear-gradient(top, #9b1d10 0%, #9d1e10 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b1d10), color-stop(100%,#9d1e10)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9b1d10 0%,#9d1e10 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9b1d10 0%,#9d1e10 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9b1d10 0%,#9d1e10 100%); /* IE10+ */
    background: linear-gradient(to bottom, #9b1d10 0%,#9d1e10 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b1d10', endColorstr='#9d1e10',GradientType=0 ); /* IE6-9 */

    box-shadow: inset 1px 2px 2px 0px rgba(255,255,255,0.7), inset -1px -2px 2px 0px rgba(0,0,0,0.7),-1px -2px 2px 0px rgba(0,0,0,0.7),1px 1px 1px 0px rgba(255,255,255,0.5);
    border-radius: 2px;
}

.main_menu a.profile_btn:hover {
    background: #eb1d10;
}


.site_switch {
    position: absolute;
    top: 6px;
    z-index: 100;
    right: 12px;
}

.cover_screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.3;
    z-index: 2000;
}

.ts_icon {
    display: inline-block;
    background: url(/img/teamspeak.png) 0 4px no-repeat;
    padding-left: 27px;
}

a:hover .ts_icon {
    text-decoration: underline;
}

.barracks-separator {
    display: block;
    width: 100%;
    clear: both;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    font-size:22px;
}

.relativeposition {
    position: relative;
}

.chat-delete-btn {
    position: absolute;
    top: 9px;
    right: 10px;
    z-index: 10;
    border-radius: 50%;
    font-size: 15px;
    padding: 6px 9px 3px 9px;
}


.uniform_bos
{
    width: 386px;
    height: 770px;
    position: relative;
}

.uniform_bos .uniform_rank
{
    width: 350px;
    height: 510px;
    position: relative;
}

.uniform_bos .uniform_rank_senior_officer_form
{
    top:234px;
    left:26px;
}

.uniform_bos .uniform_rank_student_form {
    top: 223px;
    left: 14px;
}

.uniform_bos .uniform_rank_junior_officer_form {
    top: 229px;
    left: 28px;
}

.uniform_bos .uniform_rank_hq_officer_form {
    top: 234px;
    left: 26px;
}

.uniform_bos .uniform_rank_graduate_form {
    top: 234px;
    left: 26px;
}

.uniform_rank_21 {
    top: 231px !important;
    left: 27px !important;
}

.uniform_rank_26 {
    top: 233px !important;
    left: 29px !important;
}